sys global-settings { hostname goc-london-f5-n-1276 }
sys syslog { remote-servers { goc { host 192.0.2.20 } } }
cm device-group goc-ha { type sync-failover }
# DEMO DRIFT: NTP baseline intentionally absent
